body
{
    background-color: LightGrey;
}
p
{
    font-family: "Trebuchet MS", monospace;
    font-size: 16px;
}
figure
{
    width: 50%;
}
img
{
    width: 40%;
}
section
{
    background-color: MintCream;
}
img#Spade
{
    height: 10%;
    width: 10%;
}
section.resume
{
    padding-left: 5em;
}