body
{
    background-color: LightGrey;
}
p
{
    font-family: "Trebuchet MS", monospace;
    font-size: 16px;
}
figure
{
    width: 50%;
}
img
{
    width: 60%;
}
section
{
    background-color: MintCream;
    margin: auto;
}
img#Spade
{
    height: 10%;
    width: 10%;
}
section.resume
{
    padding-left: 5em;
}
div.flex
{
    display: flex;
    padding-left: 2em;
}
iframe
{
    width: 100%;
    height: 360px;
}