body
{
    background-color: LightSteelBlue;
}
h1
{
    text-align: center;
}
p
{
    font-family: "Trebuchet MS", monospace;
    font-size: 16px;
}
figure
{
    width: 60%;
}
img
{
    width: 60%;
}
section
{
    background-color: GainsBoro;
}